---
# Main Sass file
---

// Default spacing
$spacer: 20px;

.container {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 $spacer;
    padding-bottom: 80px; /* height of your footer */
    display: block;
    position: relative;
}

// Import all partials from _sass
@import
    'reset',
    'layout',
    'typography',
    'navbar',
    'intro',
    'footer',
    'resume'
;