---
layout: default
title: Posts
---

<div class="container">
  <article class="section-title">Latest Posts</article>

  <ul>
    {% for post in site.posts %}
      <li>
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>

  <ul>
    <li>
        <h2><a href="https://triton.ml/blog/tf-idf-from-scratch">Triton - TF-IDF From Scratch: Analyzing Wine Reviews Using TF-IDF</a></h2>
    </li>
    <li>
      <h2><a href="https://triton.ml/blog/sentiment-analysis">Triton - Naive Bayes' Classifier: How to Build a Sentiment Analysis Program</a></h2>
    </li>
  </ul>
</div>

<div class="container">
  <article class="section-title">Reading Material</article>
  <ul>
    {% for article in site.data.reading %}
      <li>
        <h2><a href="{{ site.baseurl }}{{ article.link }}" target="_blank">{{ article.title }} <i>{{ article.author }}</i></a></h2>
        <p>{{ article.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>
</div>