// @name Footer
// @description All footer styles

.footer {
    //border-top: 1px solid #edefee;

    position: absolute;
    bottom: 30px;
    //width: 100%;

    &__title {
        text-transform: lowercase;
        font-size: 12px;
        letter-spacing: 2px;
    }
}
