// @name Navbar
// @description All navbar styles

.navbar {
    //border-bottom: 1px solid #edefee;
    max-width: 860px;
    margin: 0 auto;
    padding: ($spacer * 3) $spacer;
    position: relative;
    
    a {
        margin-right: $spacer;
        // padding: ($spacer * 10) 0 ($spacer * 3);
        // margin-bottom: ($spacer * 3);
    }
}